.card {
    width: 25vw;                 
    border: 1px solid #EF9A9A;   
    border-radius: 4px;           
    overflow: hidden;            
    display: flex;              
    flex-direction: column;
    margin: 10px;
  }
  .card-header {
    color: #D32F2F;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #EF9A9A;
    background-color: #FFEBEE;
    padding: 5px 10px;
  }
  .card-main {
    display: flex;              
    flex-direction: column;     
    padding: 5px 0;          
  }